:root {
    --clrMain: rgb(28, 1, 32);
    --clrTopbar: rgb(27, 12, 29);
    --clrMenu: rgb(15, 0, 17);
    --clrFooter: rgb(30, 22, 30);
    --clrText: rgb(246, 240, 247);
    --clrTextHover: rgb(215, 195, 219);
    --clrSelection: rgb(145, 122, 200);
    --tenPadding: 0% 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-image: linear-gradient(to top right,rgb(28, 1, 32), rgb(37, 31, 38));
  color: var(--clrText);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

